{% extends 'Index.html' %}

{% block body %}

    {% if show_alert %}
        <script>
            alert("{{ alert }}");
        </script>
    {% endif %}
    
    <main>
        <div class="card w-75 position-absolute top-50 start-50 translate-middle">
        <h5 class="card-header text-center p-3">Login</h5>
        <form action="/login" method="post" class="p-5">
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="Email" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="Senha" placeholder="Digite sua senha">
            </div>
            <button type="submit" class="btn btn-info">Entrar</button>
        </form>
        </div>
    </main>

  {% endblock %}