<header>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <span class="material-symbols-outlined p-2" >
                    routine
                </span>
                Cosmos
              </a>
            <div>
                <span class="material-symbols-outlined p-2 text-white">
                    star
                </span>
                <span class="material-symbols-outlined p-2 text-white">
                    help
                </span>
                <span class="material-symbols-outlined p-2 text-white">
                login
                </span>
            </div>
        </div>
      </nav>
  </header>